body{
    margin: 0px;
    padding: 0%;
    background-image: url(df.jpg);
    background-size: 100%;
    background-position-y: 50%;
}
.container{
    margin: auto;
    width: 60%;
    height: 100%;
    padding: 0%;
    margin-top: 8%;
    margin-left: 8%;
    border-radius: 24px;
}

.logo{
   /* width: 100%;
    float: left;*/
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 0px;
height: 48px;
left: 50px;
top: 22px;

    
}

.right{
    /*float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: #D8DFE8;
    margin-right: 0%;*/
    position: absolute;
    width: 350px;
    height: 94%;
    right: 5%;
    top: 3%;
    background: #FFFFFF;
    border-radius: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #343a40;
}

/*.boton-izq{
    background: orange;  
    bottom: 2%;
    left: 40%;
    margin-top: 60%;
    width: 80%;
    height: 5%;
    margin-bottom: 2%;
    margin-top: 10%;
}*/

.logo1{
    margin-top: 1%;
    margin-left: 0%;
    float: inherit;/**/
}

.tittle{
    float: inherit;
    margin-left: 20%;
}

.inptext{
   float: left;
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 0%;
    width: 60%;
    height: 40%;
    font-size: 24px;
    border: none; /*para que el recuadro o margen negro de donde el usuario escribe el texto NO aparezca, pero vuelve a aparecer si le da click*/
    outline: none;/*para que el margen negro no aparezca aunque el usuario dé click*/
    margin-bottom: 2%;

    background: inherit;  
    padding-bottom: 30%; 
    background: rgba(128, 128, 128, 0.774);

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    ;
    
}
   

#personaje{
    margin-left: 10%;
    margin-top:30%;
    width: 280px;
    height: 260px;
    /*position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;*/
}

#textclient{
    /*font-family: inherit;
    margin-left: 5%;
    font-size: 24px;
    font-style: bold;
    line-height: 29px;
    line-height: 120%;
    text-align: center;
    vertical-align: top;*/

    width: 300px;
    height: 50px;


    font-weight: 350;
    font-size: 24px;
    margin-left: 8%;


text-align: center;
color: gray;


}

#textclient2{
   float: left;
    margin-left: 10%;
    color:gray;
    width: 80%;
    height: 24%;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 110%;
    margin-top: 5%;
    
    /*height: 48px;

   /* width: 336px;
height: 48px;
float: left;
font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;

text-align: center;

color: #495057;*/

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
background-color: transparent;
border: none;
outline: none;
}

.b-encriptar{
    padding: 0px;
    width: 35%;
    height: 50px;
    border-radius: 15px;
    margin-left: 8%;
    background: #0a3871cd;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    
    
}

.b-desencriptar{
    padding: 0px;
    width: 35%;
    height: 50px;
    border-radius: 15px;
    margin-left: 5%;
    background: rgba(211, 211, 211, 0.728);
    font-size: 20px;
    color: #0A3871;
    border-color: black;
}

#copy{
    margin-left: 10%;
    margin-top: 100%;
    width: 80%;
    height: 50px;
    background:#D8DFE8;
    border-radius: 15px;
    display: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: inherit;
    color: #0A3871;
    border-color: #0A3871;

}

p{

    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8%;
    margin-bottom: 0%;
    color: #343a40;
}

.left{
    left: 0%;
    bottom: 4%;
    width: 148%;
    height: 100%;
    margin-top: 13%;
    margin-bottom: 10%;
}











.logo1{
    animation: entradaTop 2s ease;
}

.b-encriptar{
    animation: entradaScale 1s ease;

}

.b-desencriptar{
    animation: entradaScale 1.5s ease;
}

.inptext{
    animation: entradaTop 0.5s ease;
}

#copy{
    animation: entradaLeft 1s ease
}



#textclient{
    animation: entradaTop 1s ease;
}

#textclient2{
animation: entradaTop 1s ease;
}


@keyframes entradaTop{
    from{
        transform: translateY(-500px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaScale{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    70%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes entradaLeft{
    from{
        transform: translateX(-500px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}